kbd {
	color: #212529;
	background-color: #f4f6f9;
}
.control-label, label:not(.form-check-label):not(.custom-file-label) {
	font-weight: 400 !important;
	font-size: .9rem;
}
.custom-control-label.remember-me::before, .custom-control-label.remember-me::after {
	top: .1rem;
}
.disabled, button:disabled, input:disabled {
	cursor: not-allowed;
}
.btrr-0 {
	border-top-right-radius: 0;
}
.bbrr-0 {
	border-bottom-right-radius: 0;
}
.vertical-center {
	align-items: center;
	height: inherit;
}
.default-avatar {
	width: 36px;
	height: 36px;
	background: #e1e5e9;
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0;
}
.default-avatar i {
	position: absolute;
	top: 48%;
	width: 100%;
	left: 0px;
	margin-top: -6px;
	color: #333;
}
.avatar-initials {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 38px;
	width: 100px;
	height: 100px;
	font-weight: 400;
}
.avatar-initials-xl {
	width: 150px;
	height: 150px;
	font-size: 60px;
}
.avatar-initials-lg {
	width: 100px;
	height: 100px;
	font-size: 40px;
}
.avatar-initials-md {
	width: 75px;
	height: 75px;
	font-size: 30px;
}
.avatar-initials-sm {
	width: 50px;
	height: 50px;
	font-size: 20px;
}
.avatar-initials-xs {
	width: 35px;
	height: 35px;
	font-size: 14px;
}
.avatar-initials-circle {
	border-radius: 50%;
}
.avatar-initials-indigo {
	color: rgba(102, 16, 242, 1) !important;
	background-color: rgba(102, 16, 242, 0.1) !important;
}
.avatar-initials-lightblue {
	color: rgba(60, 141, 188, 1) !important;
	background-color: rgba(60, 141, 188, 0.1) !important;
}
.avatar-initials-navy {
	color: rgba(0, 31, 63, 1) !important;
	background-color: rgba(0, 31, 63, 0.1) !important;
}
.avatar-initials-purple {
	color: rgba(111, 66, 193, 1) !important;
	background-color: rgba(111, 66, 193, 0.1) !important;
}
.avatar-initials-fuchsia {
	color: rgba(240, 18, 190, 1) !important;
	background-color: rgba(240, 18, 190, 0.1) !important;
}
.avatar-initials-pink {
	color: rgba(232, 62, 140, 1) !important;
	background-color: rgba(232, 62, 140, 0.1) !important;
}
.avatar-initials-maroon {
	color: rgba(216, 27, 96, 1) !important;
	background-color: rgba(216, 27, 96, 0.1) !important;
}
.avatar-initials-orange {
	color: rgba(253, 126, 20, 1) !important;
	background-color: rgba(253, 126, 20, 0.1) !important;
}
.avatar-initials-teal {
	color: rgba(32, 201, 151, 1) !important;
	background-color: rgba(32, 201, 151, 0.1) !important;
}
.avatar-initials-olive {
	color: rgba(61, 153, 112, 1) !important;
	background-color: rgba(61, 153, 112, 0.1) !important;
}
.default-picture {
	width: 32px;
	height: 32px;
	background: #e1e5e9;
	display: block;
	border-radius: 50%;
	position: relative;
	text-align: center;
	margin-bottom: 0;
}
.default-picture i {
	position: absolute;
	top: 44%;
	width: 100%;
	left: 0px;
	margin-top: -6px;
	color: #676a6c;
}
.default-picture-sm {
	width: 32px;
	height: 32px;
}
.default-picture-md {
	width: 64px;
	height: 64px;
}
.default-picture-lg {
	width: 96px;
	height: 96px;
}
.default-picture-circle {
	border-radius: 50% !important;
}
.default-picture-box {
	border-radius: 0 !important;
}
.default-picture-rounded {
	border-radius: 5px !important;
}
.alert {
	padding: .6rem 1.25rem;
	font-size: .9rem;
}
.user-avatar, .user-avatar > img {
	width: 48px;
	height: 48px;
	display: inline-block;
}
.user-image.default {
	background: #e1e5e9;
}
.img-circle.default {
	background: #e1e5e9;
}
.btn-app > .fas {
	font-size: 2em;
}
.form-control, .custom-select {
	border: none;
	background-color: #f4f6f9;
	height: calc(2rem + 2px);
	font-size: .9rem;
	box-shadow: none;
}
.form-control-sm, .custom-select-sm {
	height: calc(1.8125rem + 2px);
}
.form-control.is-invalid, .custom-select.is-invalid {
	border: 1px solid #dc3545;
	background-image: none;
}
.custom-select.is-invalid {
	background-color: #f4f6f9 !important;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 0.75rem center/8px 10px no-repeat;
}
.form-control:focus:not(.is-invalid), .custom-select:focus:not(.is-invalid) {
	outline: 0;
	background-color: #f4f6f9;
	box-shadow: 0 0 0 0.15rem rgb(104 113 120 / 25%);
}
.form-control.is-invalid:focus, .custom-select.is-invalid:focus {
	outline: 0;
	background-color: #f4f6f9;
	box-shadow: 0 0 0 0.15rem #f7eced;
}
.input-group-text {
	background-color: #f4f6f9;
	border: none;
}
.input-group:focus-within {
	outline: 0;
	box-shadow: 0 0 0 0.15rem rgb(104 113 120 / 25%);
	border-radius: .2rem;
}
.input-group:focus-within .form-control:focus, .input-group:focus-within .custom-select:focus {
	box-shadow: none;
}
/* Back to top */
a.back-to-top {
	display: none;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	position: fixed;
	z-index: 999;
	right: 25px;
	bottom: 20px;
	background-color: #222d32;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	z-index: 99999;
	opacity: 0.7;
}
a.back-to-top:hover {
	opacity: 1;
	color: #fff;
}
.activity-messages {
	padding: 0px;
	margin: 0px;
}
.activity-messages .activity-item {
	margin: 9px 9px 0px 9px;
}
.activity-messages .activity-item:last-child {
	margin-top: -9px;
}
.activity-dropdown {
	width: 350px!important;
}
.notifications-menu > a {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.notifications-menu .dropdown-item {
	white-space: normal;
	padding: .6rem;
}
.notifications-menu .dropdown-item:active {
	color: unset;
	background-color: unset;
}
.notifications-menu .activity-time {
	font-size: .8rem !important;
}
.dropdown-item {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
}
.dropdown-item.change-theme:active {
	color: #212529;
	background-color: #fff;
}
.dropdown-divider {
	margin: 0;
}
.dropdown-toggle::after {
	vertical-align: 0.2em;
}
/* Autocomplete start */
.ui-widget-content {
	background: none;
}
.autocomplete {
	cursor: default;
}
.ui-autocomplete {
	max-height: 236px;
	overflow-y: auto;
	overflow-x: auto;
	border: 1px solid rgba(0,0,0,.15);
	position: absolute;
	top: 0;
	border-bottom-left-radius: .2rem;
	border-bottom-right-radius: .2rem;
	border-top: 0;
}
.ui-menu .ui-menu-item {
	list-style: none;
	list-style-image: none;
	white-space: nowrap;
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: #fff;
	color: rgba(0,0,0,.9);
	font-family: 'Roboto',arial,sans-serif;
	font-size: .9rem;
}
.ui-menu .ui-menu-item:last-child, .ui-menu .ui-menu-item:last-child:hover {
	border-bottom: 0px;
}
.ui-menu .ui-menu-item:hover {
	cursor: pointer;
	background-color: #f4f6f9;
	border: none;
}
.ui-menu .ui-menu-item.ui-menu-li-image {
	padding: 5px;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
	padding: 9px 16px;
	font-weight: 400;
	cursor: pointer;
	color: rgba(0,0,0,.9);
	white-space: normal;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-image.ui-menu-item-wrapper {
	padding: 0px;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-text.ui-menu-item-wrapper {
	padding: 0px;
	margin-left: 10px;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-image {
	width: 36px;
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}
.ui-autocomplete .ui-menu-item .default-avatar {
	width: 100%;
	height: 100%;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-text {
	vertical-align: middle;
	display: inline-block;
}
.ui-autocomplete .ui-menu-item .ui-state-active {
	border: none;
	cursor: pointer;
	background-color: #f4f6f9;
	color: rgba(0,0,0,.9);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: none;
}
.ui-menu .ui-state-active, .ui-menu .ui-state-focus {
	margin: 0px;
}
.autocomplete-no-data {
	cursor: default !important;
	background-color: #fff !important;
	border: none !important;
	color: #676a6c !important;
}
/* Autocomplete end */
.media > .avatar-box > img {
	width: 100px;
	height: 100px;
}
.media .avatar {
	padding: 35px;
	background-color: #f4f6f9;
}
/* Modules */
.app-module:nth-child(6n+1) {
	clear: both;
}
.m-b {
	margin-bottom: 15px;
}
.module-btn {
	width: 80px;
	height: 80px;
	font-size: 30px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 500;
	margin-bottom: 16px !important;
	line-height: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
.module-btn i.fa, .module-btn i.fas {
	padding-top: 24px;
}
.module-label, .module-label a {
	font-size: .9rem;
	margin-top: 0px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #212529;
	text-decoration: none;
}
/* Breadcrumb */
.breadcrumb.app-breadcrumb {
	float: right;
	background: 0 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 7px 5px;
	position: absolute;
	top: 7px;
	right: 10px !important;
	border-radius: 2px;
	left: 50px;
	color: #fff;
	font-size: 14px;
}
.breadcrumb.app-breadcrumb > li {
	color: #fff;
}
.breadcrumb.app-breadcrumb > li > a {
	color: #fff;
}
.breadcrumb.app-breadcrumb > li+li:before {
	padding: 0 5px;
	content: "\f105";
	font-family: 'Font Awesome 5 Free';
	color: #fff;
}
.content-header .content-title {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-header h1 {
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
}
.content-header .content-title .content-title-label {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table > thead > tr > th, table > tbody > tr > td {
	font-size: 0.9rem !important;
}
table > thead > tr > th {
	font-weight: 500;
}
table > tbody > tr > td > a:not(.btn) {
	color: rgba(0,0,0,.9)!important;
	font-weight: 500!important;
}
table > tbody > tr > td > a:hover {
	text-decoration: underline;
}
.child-table > thead > tr > td, .child-table > thead > tr > th {
	background-color: #f4f6f9;
	padding: .55rem;
}
.child-table > tfoot > tr > td {
	padding: .6rem;
}
.child-table .bootstrap-datetimepicker-widget table tr th, .child-table .bootstrap-datetimepicker-widget table tr td {
	border: 0;
}
/* List View */
.list-responsive {
	position: relative;
}
.list-title {
	border-width: 3px 1px 0px 1px;
}
.list-btns button, .list-btns a:not(.dropdown-item) {
	margin-left: 5px;
}
.record-selected-count {
	background-color: #f8f8f8;
	padding: 18px 12px 16px 12px !important;
	vertical-align: middle!important;
	font-size: .9rem;
	line-height: 1!important;
	position: absolute;
	left: 10%;
	width: 90%;
	z-index: 2;
}
.list-content {
	padding: 0px;
	border-width: 1px;
}
.list-view {
	margin-bottom: 0px;
}
.list-active-filters {
	display: inline-block;
}
.list-filter-sorting {
	padding: 1rem 1.25rem;
}
.list-active-filters .filter-tag {
	margin-left: 10px;
}
.list-active-filters .filter-tag .filter-text {
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.filter-tag .btn {
	padding: .2rem .5rem;
	font-size: .8rem;
}
.brd-top {
	border-top: 1px solid #dee2e6;
}
.list-view thead tr th {
	border-bottom: 1px solid #dee2e6;
}
.list-view tbody tr td {
	border-top: none;
	border-bottom: 1px solid #dee2e6;
	padding: 12px !important;
	vertical-align: middle !important;
	white-space: normal;
}
.link-field a {
	color: rgba(0,0,0,.9) !important;
	font-weight: 500 !important;
}
.link-field a:hover {
	text-decoration: underline;
}
.clickable_row:hover {
	cursor: pointer;
	background-color: #f4f6f9 !important;
}
.table-hover tbody tr.no-results:hover {
	background-color: transparent;
}
.iconify {
	color: #c1c3c4;
}
.list-header {
	color: rgba(0,0,0,.9);
}
.list-header th {
	background-color: #f8f8f8;
	padding: 12px !important;
	vertical-align: middle !important;
	line-height: 1 !important;
}
.list-header th.list-checkbox {
	line-height: 1.42857 !important;
}
.list-header .selection-msg {
	font-weight: 400;
}
.list-checkbox {
	text-align: center;
	line-height: 1.42857 !important;
}
.backups-view tbody tr td {
	white-space: nowrap;
}
.import-progress {
	border-radius: 3px;
	margin-bottom: 0px;
	margin-top: 10px;
	height: 15px;
}
.checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}
.origin-pagination-content {
	line-height: 0px;
	text-align: right;
}
.origin-pagination {
	overflow: hidden;
	clear: both;
	padding: 0px;
	margin: 0px;
}
.dropdown-menu {
	padding: 0px;
	border-radius: 0px 0px 3px 3px;
}
.navbar .dropdown-menu {
	margin-top: 9px;
}
.navbar .univeral-search-form {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	justify-content: flex-end;
}
.navbar-white.navbar-light .univeral-search-form .input-group-prepend .input-group-text {
	background-color: #f5f5f5;
}
.navbar-white.navbar-light .univeral-search-form .input-group:focus-within .input-group-prepend .input-group-text {
	background-color: #f2f2f2;
}
.navbar-nav .form-group {
	margin-bottom: 0;
}
.navbar-nav > .user-menu .avatar-initials {
	margin-top: -6px;
}
.navbar-nav > .user-menu .default-picture.user-image {
	float: left;
}
.navbar-nav > .user-menu > .dropdown-menu {
	width: 200px;
}
.navbar-nav > .user-menu .user-image {
	margin-right: 0;
}
.navbar-nav .user-menu .dropdown-toggle {
	padding-left: 0;
	padding-right: 0;
}
.navbar-toggler {
	border: 0;
	padding: .25rem 1.3rem;
}
.dropdown-menu > li > a {
	padding: 8px 15px;
	cursor: pointer;
}
.list-dropdown-field {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	padding-right: 10px;
}
.list-column-dropdown {
	height: 188px;
	overflow: auto;
	right: 10px;
	left: auto;
}
.list-actions {
	border-width: 1px;
	padding: 1rem 1.25rem;
}
.list-actions.with-border-top {
	border-top: 1px solid rgba(0,0,0,.125);
}
.list-actions.with-border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.list-column-filters {
	border-width: 1px;
	padding: 1rem 1.25rem;
}
.list-column-filters .form-group {
	margin-bottom: 0;
}
#row-count {
	font-weight: 700;
}
/* Form View */
.form-container {
	position: relative;
}
.form-container .form-body {
	padding: 0px;
}
.content-header .content-title .status-indicator {
	flex: 0 0 auto;
}
.form-statics {
	font-size: .9rem;
}
.form-statics .form-info-box {
	display: flex;
	align-items: center;
}
.form-section .card-header:not(.form-statics) {
	border-bottom: 0;
}
.form-section .card-title {
	font-weight: 500;
	margin-top: 2px;
}
.form-section .form-content {
	padding-top: .5rem;
	padding-bottom: .2rem;
}
.form-section .card-tools {
	float: left;
}
.user-name-addon {
	width: 20%;
}
.origin-static {
	min-height: calc(2rem + 2px);
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: .9rem;
	background-color: #f4f6f9;
	font-weight: 400;
	line-height: 1.5;
	border-radius: .25rem;
	display: flex;
	align-items: center;
}
.trumbowyg-box {
	margin: 0px;
}
.trumbowyg-button-pane {
	padding: 0px;
}
.trumbowyg-button-pane button {
	width: 40px;
	margin-bottom: 0px;
}
.trumbowyg-button-pane .trumbowyg-button-group:not(:empty)+.trumbowyg-button-group::before {
	margin: 0px;
}
#sticky.stick {
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 99;
	border-bottom: 1px solid #dee2e6;
}
.sidebar-collapse #sticky.stick {
	width: 96.2%;
}
/* Status Indicators */
.indicator-pill {
	display: inline-flex;
	align-items: center;
	padding: .2rem .5rem;
	border-radius: .2rem;
	font-size: .8rem;
	font-weight: normal;
	text-align: center;
	color: #212529;
	background: #d5dbe2;
	height: 24px;
}
.indicator-pill:not(.no-indicator):before {
	content: "";
	display: inline-table;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	margin-right: 6px;
	background: #212529;
}
.indicator-primary {
	color: rgba(0, 123, 255, 1) !important;
	background: rgba(0, 123, 255, .15) !important;
}
.indicator-primary:not(.timeline-icon):before {
	background: rgba(0, 123, 255, 1) !important;
}
.indicator-success {
	color: rgba(40, 167, 69, 1) !important;
	background: rgba(40, 167, 69, .15) !important;
}
.indicator-success:not(.timeline-icon):before {
	background: rgba(40, 167, 69, 1) !important;
}
.indicator-warning {
	color: rgba(255, 193, 7, 1) !important;
	background: rgba(255, 193, 7, .15) !important;
}
.indicator-warning:not(.timeline-icon):before {
	background: rgba(255, 193, 7, 1) !important;
}
.indicator-info {
	color: rgba(23, 162, 184, 1) !important;
	background: rgba(23, 162, 184, .15) !important;
}
.indicator-info:not(.timeline-icon):before {
	background: rgba(23, 162, 184, 1) !important;
}
.indicator-danger {
	color: rgba(220, 53, 69, 1) !important;
	background: rgba(220, 53, 69, .15) !important;
}
.indicator-danger:not(.timeline-icon):before {
	background: rgba(220, 53, 69, 1) !important;
}
.indicator-indigo {
	color: rgba(102, 16, 242, 1) !important;
	background: rgba(102, 16, 242, .15) !important;
}
.indicator-indigo:not(.timeline-icon):before {
	background: rgba(102, 16, 242, 1) !important;
}
.indicator-purple {
	color: rgba(111, 66, 193, 1) !important;
	background: rgba(111, 66, 193, .15) !important;
}
.indicator-purple:not(.timeline-icon):before {
	background: rgba(111, 66, 193, 1) !important;
}
.indicator-pink {
	color: rgba(232, 62, 140, 1) !important;
	background: rgba(232, 62, 140, .15) !important;
}
.indicator-pink:not(.timeline-icon):before {
	background: rgba(232, 62, 140, 1) !important;
}
.indicator-orange {
	color: rgba(253, 126, 20, 1) !important;
	background: rgba(253, 126, 20, .15) !important;
}
.indicator-orange:not(.timeline-icon):before {
	background: rgba(253, 126, 20, 1) !important;
}
.indicator-teal {
	color: rgba(32, 201, 151, 1) !important;
	background: rgba(32, 201, 151, .15) !important;
}
.indicator-teal:not(.timeline-icon):before {
	background: rgba(32, 201, 151, 1) !important;
}
/* Report */
.report-btn {
	border-radius: 50%;
	margin: 0px;
	padding: 25px 5px;
	height: 75px;
	min-width: 75px;
}
.report-list .report {
	margin-bottom: 1rem;
	cursor: pointer;
	padding-right: 1.4rem;
}
.report-list .report .report-body {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 17px;
}
.report-list .report .report-title {
	color: #212529;
}
.not-found {
	height: 360px;
	vertical-align: middle !important;
	text-align: center;
	overflow: hidden;
	border-bottom: 0 !important;
}
.no-notifications {
	height: 300px;
	vertical-align: middle !important;
	text-align: center;
	overflow: hidden;
	border-bottom: 0 !important;
}
.page-info {
	align-items: center;
	margin: 0;
	font-size: .9rem;
}
.origin-activities {
	margin: 0;
}
.origin-activities::before {
	background-color: #f4f6f9;
	left: 31.5px;
}
.origin-activities::before .timeline-icon  {
	background: none;
}
.origin-activities .timeline-body {
	background-color: #f4f6f9;
	border-radius: 5px;
	font-size: .9rem;
}
.timeline>div>.fa, .timeline>div>.fab, .timeline>div>.fad, .timeline>div>.fal, .timeline>div>.far, .timeline>div>.fas, .timeline>div>.ion, .timeline>div>.svg-inline--fa {
	font-size: 14px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	left: 16px;
}
.data-loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 28px;
	justify-content: center;
	background: #fff;
	opacity: 0.8;
	z-index: 9999;
}
.data-loader-full {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 28px;
	justify-content: center;
	background: #fff;
	opacity: 0.8;
	z-index: 9999;
}
/* Tooltip show in one line */
.tooltip-inner {
	white-space: nowrap;
	max-width: none;
}
/* simple box for child tables in form */
.simple-box {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
.simple-box:hover {
	cursor: pointer;
	background-color: transparent !important;
}
.highlight {
	background-color: yellow;
	text-decoration: underline;
}
.open > .dropdown-menu.dropdown-left {
	right: 0;
	left: auto;
}
.name_title {
	width: 19%;
}
.no-mar {
	margin: 0px !important;
}
.n-m-b {
	margin-bottom: 0px;
}
/* Fancybox start */
.fancyimg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	width: 32px;
	height: 32px;
}
.fancyimg:hover {opacity: 0.7;}
/* The Modal (background) */
#fancybox {
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	padding: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.fancybox-content {
	margin: auto;
	display: block;
	max-width: 100%;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#fancybox-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 40px;
}
/* Add Animation - Zoom in the Modal */
.fancybox-content, #fancybox-caption { 
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}
@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}
/* The Close Button */
.fancybox-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.fancybox-close:hover,
.fancybox-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px){
	.fancybox-content {
		max-width: 100%;
	}
}
/* FancyBox end */
.modal-header {
	padding: 1.2rem 1.5rem 0 1.5rem;
	border-bottom: 0;
}
.modal-header .close {
	margin: -1.2rem -1rem -1rem auto;
}
.modal-body {
	padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}
.modal-footer {
	padding: 0 1.5rem 1.2rem 1.5rem;
	border-top: 0;
}
.modal-footer > * {
	margin: 0;
}
.modal-footer .btn {
	margin-left: .5rem;
}
.toast-header {
	color: #212529;
}
.toast-header, .toast-body {
	background-color: #fff;
}
.toasts-top-right {
	top: 10px;
	right: 10px;
}
.main-footer {
	padding: .8rem;
	font-size: 0.9rem;
}
.main-footer .footer-link {
	color: #212529;
}
.trumbowyg-button-pane {
	background: #f4f6f9;
}
.trumbowyg-box svg {
	fill: #212529;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
	margin: 0;
	padding: 1px;
	font-size: .9rem;
}
.bootstrap-datetimepicker-widget .timepicker table td {
	padding: 0;
}
.bootstrap-datetimepicker-widget .timepicker a[data-action] {
	padding: 0;
}
@media (min-width: 992px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
		width: 36em;
	}
}
@media (min-width: 768px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
		width: 36em;
	}
}
/* switch input start */
.switch-input {
	display: none;
}
.switch-label {
	position: relative;
	display: inline-block;
	min-width: 112px;
	cursor: pointer;
	font-weight: 500;
	text-align: left;
	margin: 0;
	padding-left: 44px;
}
.switch-label:before, .switch-label:after {
	content: "";
	position: absolute;
	margin: 0;
	outline: 0;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.switch-label:before {
	left: 1px;
	width: 34px;
	height: 14px;
	background-color: #9E9E9E;
	border-radius: 8px;
}
.switch-label:after {
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #FAFAFA;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
	display: none;
}
.switch-label .toggle--off {
	display: inline-block;
}
.switch-input:checked + .switch-label:before {
	background-color: #007bff;
}
.switch-input:checked + .switch-label:after {
	background-color: #dee2e6;
	-ms-transform: translate(80%, -50%);
	-webkit-transform: translate(80%, -50%);
	transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
	display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
	display: none;
}
/* switch input end */
/* dark mode start */
.dark-mode kbd {
	color: #f4f6f9;
	background-color: #212529;
}
.dark-mode img {
	filter: brightness(.8) contrast(1.2);
}
.dark-mode .data-loader, .dark-mode .data-loader-full {
	background: #343a40;
}
.dark-mode .avatar-initials-indigo {
	color: #fff !important;
	background-color: #6610f2 !important;
}
.dark-mode .avatar-initials-lightblue {
	color: #fff !important;
	background-color: #86bad8 !important;
}
.dark-mode .avatar-initials-navy {
	color: #fff !important;
	background-color: #002c59 !important;
}
.dark-mode .avatar-initials-purple {
	color: #fff !important;
	background-color: #6f42c1 !important;
}
.dark-mode .avatar-initials-fuchsia {
	color: #fff !important;
	background-color: #f672d8 !important;
}
.dark-mode .avatar-initials-pink {
	color: #fff !important;
	background-color: #e83e8c !important;
}
.dark-mode .avatar-initials-maroon {
	color: #fff !important;
	background-color: #ed6c9b !important;
}
.dark-mode .avatar-initials-orange {
	color: #fff !important;
	background-color: #fd7e14 !important;
}
.dark-mode .avatar-initials-teal {
	color: #fff !important;
	background-color: #20c997 !important;
}
.dark-mode .avatar-initials-olive {
	color: #fff !important;
	background-color: #74c8a3 !important;
}
.dark-mode .default-picture, .dark-mode .default-avatar {
	background: #495057;
}
.dark-mode .default-picture i, .dark-mode .default-avatar i {
	color: #ced4da;
}
.dark-mode .module-label, .dark-mode .module-label a {
	color: #fff;
}
.dark-mode .text-primary {
	color: #3f6791 !important;
}
.dark-mode .text-success {
	color: #00bc8c !important;
}
.dark-mode .text-warning {
	color: #f39c12 !important;
}
.dark-mode .text-info {
	color: #3498db !important;
}
.dark-mode .text-danger {
	color: #e74c3c !important;
}
.dark-mode .badge-primary {
	background-color: #3f6791 !important;
}
.dark-mode .badge-success {
	background-color: #00bc8c !important;
}
.dark-mode .badge-warning {
	background-color: #f39c12 !important;
}
.dark-mode .badge-info {
	background-color: #3498db !important;
}
.dark-mode .badge-danger {
	background-color: #e74c3c !important;
}
.dark-mode .indicator-primary {
	color: #fff !important;
	background: #3f6791 !important;
}
.dark-mode .indicator-primary:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-success {
	color: #fff !important;
	background: #00bc8c !important;
}
.dark-mode .indicator-success:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-warning {
	color: #fff !important;
	background: #f39c12 !important;
}
.dark-mode .indicator-warning:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-info {
	color: #fff !important;
	background: #3498db !important;
}
.dark-mode .indicator-info:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-danger {
	color: #fff !important;
	background: #e74c3c !important;
}
.dark-mode .indicator-danger:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-indigo {
	color: #fff !important;
	background: #6610f2 !important;
}
.dark-mode .indicator-indigo:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-purple {
	color: #fff !important;
	background: #6f42c1 !important;
}
.dark-mode .indicator-purple:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-pink {
	color: #fff !important;
	background: #e83e8c !important;
}
.dark-mode .indicator-pink:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-orange {
	color: #fff !important;
	background: #fd7e14 !important;
}
.dark-mode .indicator-orange:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .indicator-teal {
	color: #fff !important;
	background: #20c997 !important;
}
.dark-mode .indicator-teal:not(.timeline-icon):before {
	background: #fff !important;
}
.dark-mode .close-icon {
	fill: #fff !important;
}
.dark-mode .btn-group.show .btn-tool, .dark-mode .btn-tool:hover {
	color: #fff;
}
.dark-mode .report-list .report .report-title {
	color: #fff;
}
.dark-mode .origin-activities .timeline-body {
	background-color: #343a40;
}
.dark-mode #sticky.stick {
	background-color: #343a40;
	color: #fff;
	border-color: #6c757d;
	border-bottom: 0;
}
.dark-mode .ui-autocomplete {
	background-color: #343a40;
	color: #fff;
}
.dark-mode .ui-menu .ui-menu-item {
	background-color: #343a40;
	color: #fff;
}
.dark-mode .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
	color: #fff;
}
.dark-mode .ui-menu .ui-menu-item:hover {
	background-color: #3f474e;
}
.dark-mode .ui-autocomplete .ui-menu-item .ui-state-active {
	background-color: #3f474e;
	color: #ced4da;
}
.dark-mode .autocomplete-no-data {
	background-color: #3f474e !important;
	color: #fff !important;
}
.dark-mode .form-control, .dark-mode .custom-select, .dark-mode .origin-static {
	background-color: #495057 !important;
	border-color: #6c757d !important;
	color: #ced4da !important;
}
.dark-mode .form-control.is-invalid, .dark-mode .custom-select.is-invalid {
	border: 1px solid #e74c3c !important;
	background-image: none;
}
.dark-mode .custom-select, .dark-mode .custom-select.is-invalid {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 0.75rem center/8px 10px no-repeat;
}
.dark-mode .form-control.is-invalid:focus, .dark-mode .custom-select.is-invalid:focus {
	box-shadow: 0 0 0 0.15rem rgb(231 76 60 / 25%);
}
.dark-mode .form-control:focus, .dark-mode .custom-select:focus, .dark-mode .input-group:focus-within {
	box-shadow: 0 0 0 0.15rem rgb(104 113 120 / 70%);
}
.dark-mode .child-table > thead > tr > td, .dark-mode .child-table > thead > tr > th {
	background-color: #495057 !important;
}
.dark-mode .page-item .page-link, .dark-mode .page-item:not(.active) .page-link:focus, .dark-mode .page-item:not(.active) .page-link:hover {
	color: #007bff;
}
.dark-mode .list-btns .btn {
	color: #fff;
}
.dark-mode .list-header th {
	background-color: #495057;
	color: #fff;
}
.dark-mode .link-field a, .dark-mode table > tbody > tr > td > a:not(.btn) {
	color: #3395ff !important;
}
.dark-mode .clickable_row:hover {
	color: #dee2e6;
	background-color: #3a4047 !important;
	border-color: #6c757d;
}
.dark-mode .list-view thead tr th {
	border-bottom: 1px solid #6c757d;
}
.dark-mode .list-view tbody tr td {
	border-bottom: 1px solid #6c757d;
}
.dark-mode .record-selected-count {
	background-color: #495057;
}
.dark-mode .custom-control-label::before, .dark-mode .custom-file-label, .dark-mode .custom-file-label::after, .dark-mode .custom-select, .dark-mode .form-control:not(.form-control-navbar):not(.form-control-sidebar), .dark-mode .input-group-text {
	background-color: #495057!important;
}
.navbar-dark .btn-navbar, .navbar-dark .form-control-navbar {
	border: none;
}
.dark-mode .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
	background: #495057;
	color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td.day:hover, .dark-mode .bootstrap-datetimepicker-widget table td.hour:hover, .dark-mode .bootstrap-datetimepicker-widget table td.minute:hover, .dark-mode .bootstrap-datetimepicker-widget table td.second:hover {
	background: #495057;
	color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td i, .dark-mode .bootstrap-datetimepicker-widget table td span {
	color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td i:hover, .dark-mode .bootstrap-datetimepicker-widget table td span:hover {
	background: #495057;
}
.dark-mode .bootstrap-datetimepicker-widget table td i.active, .dark-mode .bootstrap-datetimepicker-widget table td span.active {
	background-color: #495057;
	color: #007bff;
}
.dark-mode .bootstrap-datetimepicker-widget table td.active, .dark-mode .bootstrap-datetimepicker-widget table td.active:hover {
	background: #495057;
}
.dark-mode .trumbowyg-box, .dark-mode .trumbowyg-editor {
	border-color: #6c757d;
}
.dark-mode .trumbowyg-button-pane {
	background: #495057;
	border-color: #6c757d;
	border-bottom: 1px solid #6c757d;
}
.dark-mode .trumbowyg-button-pane::after {
	background: #6c757d;
}
.dark-mode .trumbowyg-fullscreen .trumbowyg-editor, .dark-mode .trumbowyg-fullscreen .trumbowyg-textarea {
	background: #495057;
}
.dark-mode .trumbowyg-box svg {
	fill: #fff;
	color: #fff;
}
.dark-mode .trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
	color: #fff;
}
.dark-mode .trumbowyg-button-pane button.trumbowyg-active, .dark-mode .trumbowyg-button-pane button:not(.trumbowyg-disable):focus, .dark-mode .trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
	background-color: #3f474e;
}
.dark-mode .toast {
	border-color: #6c757d;
}
.dark-mode .toast-body, .dark-mode .toast-header {
	background-color: #3a4047;
}
.dark-mode .media .avatar {
	background-color: #495057;
}
.dark-mode .main-footer .footer-link {
	color: #007bff;
}
.dark-mode .switch-input:checked+.switch-label:before {
	background-color: #3f6791;
}
/* dark mode end */
@media (max-width: 767px) {
	.navbar {
		padding: .5rem 1rem .5rem 1rem;
	}
	.navbar .navbar-toggler {
		padding-right: 0;
	}
	.navbar-nav > .user-menu .user-image {
		margin-top: -6px;
	}
	.user-menu .default-picture i {
		top: 49%;
		font-size: 14px;
	}
	.content {
		padding: 15px 0 15px 0;
	}
	.origin-modules {
		margin-right: 0px;
		margin-left: 0px;
	}
	.module-btn {
		width: 68px;
		height: 68px;
		font-size: 26px;
		border-radius: 5px;
		font-weight: 400;
		line-height: 1.3;
	}
	.module-btn i.fa, .module-btn i.fas {
		padding-top: 20px;
	}
	.app-module:nth-child(4n+1) {
		clear: both;
	}
	.app-module:nth-child(6n+1) {
		clear: none;
	}
	.module-label, .module-label a {
		font-size: 14px;
		margin-top: 0px;
		font-weight: 500;
		margin-bottom: 5px;
		text-align: center;
		line-height: 1;
	}
	.breadcrumb.app-breadcrumb {
		font-size: 16px;
	}
	.list-responsive {
		margin-bottom: 0px;
		border: 0px;
	}
	.list-content {
		margin-bottom: 0px;
	}
	.table-responsive {
		border: 0px;
	}
	.dropdown-toggle::after {
		content: none;
	}
	.form-horizontal .form-group {
		margin-right: 0px;
		margin-left: 0px;
	}
	.user-name-addon {
		width: 30%;
	}
	#sticky.stick {
		width: 100%;
		top: 0;
		left: 0;
		padding: 15px .5rem;
	}
	.report-list .report {
		padding-left: 1.4rem;
	}
	.report-content {
		padding: 0;
		border: 0px;
		margin-bottom: 0px;
	}
	.datatable-report {
		border: 0px;
	}
	.dataTables_wrapper {
		padding-bottom: 0px;
	}
	.data-loader {
		font-size: 15px;
	}
}
@media (min-width: 576px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
		width: 36em;
	}
}