.report-content {
	padding: 0;
}
.report-content .table-bordered {
	border-top: 0;
}
.report-content .table-bordered thead td, .report-content .table-bordered thead th {
	border-bottom-width: 1px;
}
.dataTables_wrapper {
	padding-top: calc(1rem - 1px);
}
.dataTable > thead > tr > th, .dataTable > tbody > tr > td {
	white-space: nowrap;
}
.dataTables_wrapper {
	padding-bottom: 0px;
}
.report-actions {
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
#report-table td {
	padding: .5rem;
	vertical-align: middle;
}
table.dataTable>thead>tr>td:not(.sorting_disabled), table.dataTable>thead>tr>th:not(.sorting_disabled) {
	background-color: #f8f8f8;
}
.dark-mode table.dataTable>thead>tr>td:not(.sorting_disabled), .dark-mode table.dataTable>thead>tr>th:not(.sorting_disabled) {
	background-color: #495057;
}
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc_disabled:before {
	content: "\f30c";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	font-size: .8em;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc_disabled:after {
	content: "\f309";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	font-size: .8em;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before {
	bottom: 1.2em;
}