.default-avatar {
	width: 48px;
	height: 48px;
	background: #e1e5e9;
	display: block;
	border-radius: 50%;
	position: relative;
	text-align: center;
	margin-bottom: 0;
}

.default-avatar i {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0px;
	margin-top: -6px;
}

.user-avatar, .user-avatar > img {
	width: 48px;
	height: 48px;
	display: inline-block;
}


/* social buttons */
.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: #3b5998;
	font-weight: 400;
}
.btn-twitter {
	color: #fff;
	background-color: #4099ff;
	border-color: #4099ff;
	font-weight: 400;
}
.btn-google-plus {
	color: #fff;
	background-color: #d34836;
	border-color: #d34836;
	font-weight: 400;
}
.btn-facebook:hover {
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
.btn-twitter:hover {
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
.btn-google-plus:hover {
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}


/* Back to top */
a.back-to-top {
	display: none;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background-color: #1ab394;
	color: #fff;
	border-radius: 3px;
}
a.back-to-top:hover {
	color: #fff;
}


/* Today date on button */
.button-date {
	position: absolute;
	font-size: 14px;
	top: 50%;
	margin-top: -6px;
	display: inline-block;
	width: 16px;
	left: 50%;
	margin-left: -9px;
}


/* Breadcrumb */
.app-breadcrumb {
	padding: 15px !important; 
}

/* Avatar */
.media > .avatar-box > img {
	width: 100px;
	height: 100px;
}
.media .avatar {
	padding: 35px;
	background-color: #f0f4f7;
}

/* Modules */
.app-module:nth-child(6n+1) {
	clear: both;
}

.app-module .module-label {
	font-size: 15px;
}

.module-btn {
	width: 80px;
	height: 70px;
	font-size: 30px;
	position: relative;
}

/* List View */
.list-view tbody tr td {
	border-top: none;
	border-bottom: 1px solid #e7eaec;
	padding: 10px !important;
	vertical-align: middle !important;
}

.link-field a {
	font-size: 14px !important;
	color: #676a6c !important;
	font-weight: 600 !important;
}

.link-field a:hover {
	text-decoration: underline;
}

.clickable_row:hover {
	cursor: pointer;
}

.iconify {
	color: #c1c3c4;
}

.list-header th {
	vertical-align: middle !important;
}

.list-checkbox {
	text-align: center;
}

.checkbox {
	margin-top: 0px;
}

#row-count {
	font-weight: 700;
}


/* Report */
.report-list .report {
	margin-bottom: 30px;
}

.report-box:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(133,133,133,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(133,133,133,1);
	box-shadow: 0px 0px 7px 0px rgba(133,133,133,1);
}

.dataTable > thead > tr > th, .dataTable > tbody > tr > td {
	white-space: nowrap;
}

.dataTables_empty {
	font-size: 18px;
	font-weight: 800;
	padding: 17px !important;
	text-align: center;
}


/* Tooltip show in one line */
.tooltip-inner {
	white-space: nowrap;
	max-width: none;
}


/* simple box for child tables in form */
.simple-box {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.simple-box:hover {
	cursor: pointer;
	background-color: transparent !important;
}

.highlight {
	background-color: yellow;
	text-decoration: underline;
}

.open > .dropdown-menu.dropdown-left {
	right: 0;
	left: auto;
}

.name_title {
	width: 19%;
}

.mce-edit-area {
	border-width: 1px 1px 0px 0px !important;
}

.no-mar {
	margin: 0px !important;
}

.vertical-timeline-content:before {
	border-right: 7px solid #f3f3f4;
}

@media print {
	.printable {
		display: block;
		width: 100%;
		margin: 0 !important;
	}
	.non-printable {
		display: none !important;
	}
}