html {
	background-color: #ffffff;
}

form {
	margin-bottom: 0px;
}


/* module */
.module:hover {
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}


/* list view */
.list-view {
	margin-bottom: 0px;
}

.list-view > thead > tr > th {
	border-right: 1px solid #e0e4e8;
	padding: 9px 15px;
}

.list-view > tbody > tr > td {
	padding: 9px 15px;
}

.clickable_row:hover {
	cursor: pointer;
	background-color: #F7F8F9;
}

/* table */
.table-hover > thead > tr > th {
	background: #fafbfc;
	border-right: 1px solid #e0e4e8;
	border-bottom: 1px solid #e0e4e8;
}

.table-hover > thead > tr > th:last-child {
	border-right: 0px;
}

.table_record:hover {
	cursor: pointer;
}

/* report */
.remove-before.panel-heading:before  {
	display: none;
}

#report-table {
	border: 2px solid #ddd;
}

#report-table.table-bordered > thead > tr > td, 
#report-table.table-bordered > thead > tr > th {
	border-bottom-width: 0px;
}


#report-table > thead > tr > th,
#report-table > tbody > tr > th,
#report-table > tfoot > tr > th,
#report-table > thead > tr > td,
#report-table > tbody > tr > td,
#report-table > tfoot > tr > td {
	border: 2px solid #ddd;
}

#report-table tbody tr:nth-of-type(even) {
	background-color: #f9f9f9;
}

.dataTables_empty {
	font-size: 18px;
	font-weight: 800;
	padding: 17px !important;
	text-align: center;
}

/* Tooltip show in one line */
.tooltip-inner {
	white-space: nowrap;
	max-width: none;
}


/* simple box for child tables in form */
.simple-box {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.simple-box:hover {
	cursor: pointer;
	background-color: transparent !important;
}